@import url('https://fonts.googleapis.com/css?family=Krub');
:root 
{
    --svart: black;
    --vit: white;
}
html 
{
    box-sizing: border-box;
}
*, *:before, *:after 
{
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul 
{
    margin: 0;
    padding: 0;
}

body 
{
    background: var(--svart);
}
.kontainer 
{
    background: lightgrey;
    margin: 10px auto;
    padding: 30px;
    width: 600px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Krub', sans-serif;
}
h1 
{
    margin: 5px;
}
.bild 
{
    width: 400px;
    padding: 20px;
    margin: auto;
}
.bild img 
{
    border: 10px solid var(--vit);
    
    height: 500px;
}
.bild p 
{   
    background: var(--vit);
    padding: 5px;
}
.miniatyr 
{
    border-radius: 5px;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    margin: 10px;
}