@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');
@import url('https://fonts.googleapis.com/css?family=Hind');
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body
{
    background: url(./bilder/aperture-vintage-346923-unsplash.jpg);
    background-size: 1700px;
    background-attachment: fixed;
    margin: auto;
    
}
.kontainer
{
    width: 960px;
    margin: auto;
}
header
{
    margin-top: 20px;
}
header h1
{
    color: #fff;
    font-family: 'Noto Serif SC', serif;
}
header h2
{
    color: #fff;
    font-family: 'Noto Serif SC', serif;
}
header nav
{
    background: -webkit-linear-gradient(top, #b5bdc8 17%,#b5bdc8 17%,#828c95 100%,#828c95 100%,#28343b 100%,#828c95 100%,#828c95 101%,#828c95 101%);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
header a
{
    text-decoration: none;
    color: #000;
    margin-right: 40px;
}
header a:hover
{
    color: #fff;
    transition: 500ms;
}
header ul
{

}
header li
{
    display: inline;
}
header  
{
    padding: 10px;
    
}
main
{ 
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 650px 280px;
    justify-content: space-between;
    grid-template-areas: 
    "innehall sidebar";
}
main .innehall
{
  grid-area: innehall;  
}
main article
{
    background: #fbfbfc63;
    border-radius: 5px;
}
main h3
{
    padding: 10px;
    color: white;
    margin-left: 50px;
    font-family: 'Hind', sans-serif;
}
main figure
{

}
main img
{
    width: 500px;
    margin: auto;
}
main figcaption
{

}
main p
{
    
}
main a
{
    text-decoration: none;
}
aside
{
    grid-area: sidebar;    
}
aside section
{
    background: #fbfbfc63;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
aside h4
{

}
aside ul
{

}
aside li
{
    list-style: none;
    margin-top: 5px;
    
}
aside a
{
    text-decoration: none;
    border-bottom: #000 solid 1px; 
    color: black;  
}
aside a:hover
{
    color: darkblue;
}
footer
{

}
footer p
{
    text-align: center;
    margin-top: 20px;
}