/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
.kontainer
{
    width: 700px;
    background: green;
    display: grid;;
}
main #rexclub
{
    width: 200px;
}
figure #Electrowerkz
{
    width: 150px;
} 