@import url('https://fonts.googleapis.com/css?family=Courgette|Slabo+27px');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    background: url("./bilder/daggros.jpg");
    background-size: 5000px; 
    background-attachment: fixed;
}
div.kontainer {
    width: 800px;
    padding: 30px;
    color: #fff;
    background-color: #AE0006;
    margin: 150px auto;
    border-radius: 4px;
}
h1 {
    font-family: 'Courgette', cursive;
    font-size: 80px;
    text-align: center;
    text-shadow: 4px 0 10px #fff;
}
div.ros {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    background-color: #FB2108;
    border-radius: 4px;
    padding: 30px;
    margin-top: 20px;
}
img {
    width: 400px;
    background: #FFF;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #000;
}
p {

}
.vanster {
    float: left;
    margin-right: 30px;
}
.hoger {
    float: right;
    margin-left: 30px; 
}
hr {
    clear: both;
    visibility: hidden;
}
.textHoger {
    text-align: right;
}