@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body.box1 {
    background: url("./bilder/p1.jpg");
}
body.box2 {
    background: url("./bilder/p2.jpg");
}
body.box3 {
    background: url("./bilder/p3.jpg");
}
body.box4 {
    background: url("./bilder/p4.jpg");
}
body.box5 {
    background: url("./bilder/p5.jpg");
}
div {
    width: 600px;
    background: #fff;
    border: 3px dashed #000;
    margin: 175px auto 0 auto;
    padding: 80px 10px 0 50px;
    border-radius: 10px;
}
div.ruta2 {

    padding: 20px 10px 0 50px;
}
div.ruta3 {

    padding: 20px 10px 0 50px;
}
div.ruta4 {

    padding: 20px 10px 0 50px;
}
div.ruta5 {

    padding: 20px 10px 0 50px;
}

}
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    color: #000;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #000;
    margin: 20px 0;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 40px;
}